.dashboard-container {
    padding: 80px 20px 20px 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 30px;
}

.card {
    flex: 1 1 150px;
    padding: 20px;
    background-color: #1e1e1e;
    color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.charts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}

.chart {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}